.touch-scroll-bar {
    height: 50px;
    float: right;
    width: 2px;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.39);
    position: fixed;
    right: 2px;
    z-index: 100;
    display: none;
}


.banner-front {
    z-index: 99;
}

.extra-small {
    font-size: 62%;
}

.home-body-pad {
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid #fff;
    text-shadow: 0 0 0;
}

.home-body-pad:hover {
    color:#fff;
    background-color:#337ab7;
}

.user-block {
    padding-left: 5px;
    padding-right: 5px;
    text-shadow: 0 0 0;
    font-weight: 300;
    border-radius: 3px;
    padding-bottom: 2px;
}

.header-btn {
    border: 0 solid #fff;
    box-shadow: none;
    background-color: rgba(0,0,0,0)!important;
}

.empty-contact {
    display: none !important;
}

.empty {
    display: none !important;
}
.empty-notification {
    display: none !important;
}
.mark-element
{  
    position: absolute !important;
    top:10px !important;
    right: 10px !important;
    background-color:#337ab7!important;
}
.glyphicon-exclamation-sign{
    right: 0px;
    top: 0px;
    color: #337ab7;
}
.ui-page-active {
    z-index: 98;
}

.header-btn {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

